
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background-color: #060e1f;
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}